/* DayPicker styles */

.DayPicker-Caption {
  text-align: center;
}

.DayPicker-NavButton--prev {
  left: 1.5rem;
}

.DayPicker-Day {
  padding: 0.3rem;
  padding-top: 0px;
  height: 40px;
  width: 45px;
}

@media (min-width: 768px) {
  .DayPicker-Day {
    padding: 0.2rem;
    padding-top: 0px;
    height: 40px;
    width: 43px;
  }
}

@media (min-width: 992px) {
  .DayPicker-Day {
    padding: 0.3rem;
    padding-top: 0px;
    height: 40px;
    width: 45px;
  }
}

.DayPicker-Day {
  position: relative;
}

.DayPicker-Day:not(.DayPicker-Day--outside):not(.DayPicker-Day--disabled):hover::after {
  border-radius: 0;
  content: "";
  display: block;
  background: url("./datepick.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100% + 13px);
  position: absolute;
  top: -7px;
  left: 0px;
  z-index: -2;
  background-position: left center;
}

.DayPicker-Day--start {
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: 0;
  color: #020202;
}

.DayPicker-Day--start:not(.DayPicker-Day--outside)::after {
  content: "";
  display: block;
  background: url("./datepick.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100% + 13px);
  position: absolute;
  top: -7px;
  left: 0px;
  z-index: -2;
  background-position: left center;
}

.DayPicker-Day--end {
  position: relative;
  background-color: transparent;
  background: none;
  border-radius: 0;
  color: #020202;
}

.DayPicker-Day--end:not(.DayPicker-Day--outside)::after {
  content: "";
  display: block;
  background: url("./datepick.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100% + 13px);
  position: absolute;
  top: -7px;
  left: 0px;
  z-index: -2;
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background-position: center center;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):not(.DayPicker-Day--start):not(.DayPicker-Day--end) {
  background-color: #f4f4f4;
  border-radius: 0;
  color: #020202;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: transparent;
}

.DayPicker-Day--selected {
  position: relative;
}

.DayPicker-Day--selected:hover {
  content: "";
  display: block;
  background: url("./datepick.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100% + 13px);
  position: absolute;
  top: -7px;
  left: 0px;
  z-index: -1;
  background-position: left center;
}

.DayPicker-Month {
  display: flex;
  flex-direction: column;
}

.DayPicker-Weekdays {
  display: flex;
  justify-content: center;
}

.DayPicker-WeekdaysRow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.DayPicker-Body {
  display: flex;
  flex-wrap: wrap;
}

.DayPicker-Week {
  display: flex;
  justify-content: center;
  width: 100%;
}

.DayPicker-Weekday {
  height: 45px;
  width: 45px;
}

.Day {
  font-size: 18px;
  font-weight: 700;
  height: 20px;
  width: 35px;
  padding-top: 4px;
  z-index: 10;
}

.Price {
  font-size: 10px;
  padding-top: 2px;
  text-align: center;
  color: #00c455;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #f4f4f4;
  z-index: -3;
  border-radius: 0;
  color: #000000;
}
